<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include analytics.html %}

  <link href="http://fonts.googleapis.com/css?family=Raleway:200|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,greek,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/style.css">

  <script src="/assets/lib/jquery/jquery-1.11.1.min.js"></script>
  <script src="/assets/js/dropdown.js"></script>

  <title>PSAS - {{ page.title }}</title>
</head>
<body>
 <div class="wrapper">
  <div id="header-wrap">
   {% include header.html %}
  </div>
  <div id="content">
   {{ content }}
  </div>
 </div>
 <div id="footer">
  {% include footer.html %}
 </div>
</body>
</html>
